// Fonts
/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/pacifico-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/pacifico-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Sweet Alert
@import 'sweetalert2/src/sweetalert2.scss';

.navbar-laravel {
    background-color: $primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.year_overview_1 {
    text-align: center;
    table-layout: fixed;
    vertical-align: middle;

    &__item {
        width: 33.33%;
        position: relative;

        &__content {
            position: absolute;
            top: 15px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__item:after {
        content: '';
        display: block;
        margin-top: 100%;
    }
}

.text-logo {
    font-family: 'Pacifico', 'serif';
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentColor;
}

@import 'stackedCards';

.fc-day.fc-daygrid-day {
    cursor: pointer;
}

div.year-month .fc-daygrid-day-events {
    display: none;
}
//div.year-month {
//    & .fc-scrollgrid {
//        border-color: transparent !important;
//    }
//    & .fc-scrollgrid td:last-of-type {
//        border-right-color: transparent !important;
//    }
//    & .fc-scrollgrid-section.fc-scrollgrid-section-body td[role='presentation'] {
//        border-bottom-color: transparent !important;
//    }
//    & [role='row']:last-of-type td {
//        border-bottom-color: transparent !important;
//    }
//    & th[role='presentation'] {
//        border-right-color: transparent !important;
//    }
//}

.card-footer {
    color: #2d2d2d;
    background-color: #efefef;

    & .link-light {
        color: #2d2d2d !important;
    }
}
